// Body
$body-bg: #F2C166; // Cambiar el color de fondo del cuerpo

// Typography
$font-family-sans-serif: 'Arial', sans-serif; // Cambiar la familia de fuentes
$font-size-base: 1rem; // Cambiar el tamaño base de la fuente
$line-height-base: 1.5; // Cambiar la altura de línea base


// Header
$header-bg: #A66E29; // Cambiar el color de fondo del encabezado
$header-text-color: #fff; // Cambiar el color del texto del encabezado

$navbar: #A66E29;