
/* Estilo básico para el contenedor de la lista de productos */
.product-list-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
    padding: 20px;
  }
  
  /* Estilo para los cards individuales */
  .card {
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    background-color: #A66E29;
    transition: transform 0.6s, background-color 0.3s, opacity 1s, transform 1s;
    opacity: 0; 
    color: white;
    transform: translateY(20px); 
  }
  
  .card.visible {
    opacity: 1; 
    transform: translateY(0); 
  }
  
  .card:hover {
    transform: scale(1.02);
    background-color: #732002; 
  }
  
  /* Imagen dentro del card */
  .card-img-top {
    width: 100%;
    height: 300px; 
    object-fit: contain;
    transition: transform 0.5s ease, filter 0.5s ease;
}
  
  .card:hover .card-img-top {
    transform: rotate(-20deg); 
    filter: brightness(1.2);
  }
  
  /* Contenido del card */
  .card-body {
    padding: 15px;
    text-align: center;
  }
  
  .card-text {
    margin: 0.5rem 0;
  }
  
  /* Botón de agregar producto */
  .add {
    margin-bottom: 20px;
  }
  
  .addition {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    align-items: center;
  }
  
  .addition input, .addition button {
    flex: 1 1 auto;
    min-width: 150px;
    padding: 10px;
  }
  
  .check {
    background-color: #28a745;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px;
    cursor: pointer;
  }
  
  .check:hover {
    background-color: #218838;
  }
  
  /* Botones de administración */
  .btn-group {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  
  .btn-group .form-group {
    margin-bottom: 10px;
  }
  
  .btn-warning, .btn-danger {
    width: 100%;
    padding: 10px;
    cursor: pointer;
  }
  
  .btn-warning {
    background-color: #ffc107;
    border: none;
    border-radius: 5px;
    color: #fff;
  }
  
  .btn-danger {
    background-color: #dc3545;
    border: none;
    border-radius: 5px;
    color: #fff;
  }
  
  .btn-warning:hover {
    background-color: #e0a800;
  }
  
  .btn-danger:hover {
    background-color: #c82333;
  }
