/* Contenedor de las tarjetas */
.card-row {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px; 
}

/* Estilos de las tarjetas */
.card {
  width: 350px; 
  height: 250px; 
  background: #A66E29;
  border-radius: 10px;
  overflow: hidden;
  transition: all 0.6s cubic-bezier(0.23, 1, 0.320, 1);
}

.card:hover {
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

.card__content {
  padding: 20px;
  background-color: #fff;
  opacity: 0;
  transition: all 0.6s cubic-bezier(0.23, 1, 0.320, 1);
}

.card:hover .card__content {
  opacity: 1;
}

.card__title {
  margin: 0;
  font-size: 24px; 
  color: #333;
  font-weight: 700;
}

.card__description {
  margin: 10px 0 0;
  font-size: 16px;
  color: #777;
  line-height: 1.4;
}

.text-left,
.text-right {
  width: calc(50% - 20px); 
  padding: 20px;
  box-sizing: border-box;
}

.text-left {
  text-align: left;
}

.text-right {
  text-align: right;
}


/* animations.css */

.fade-in-scroll {
  opacity: 0;
  transform: translateY(20px);
  transition: opacity 1s ease-out, transform 1s ease-out;
}

.fade-in-scroll.visible {
  opacity: 1;
  transform: translateY(0);
}

.info-content {
  display: flex;
  align-items: center;
  margin-bottom: 2rem;
}

.info-content img {
  max-width: 200px;
  margin-right: 20px;
}

.info-section:nth-child(odd) .info-content {
  background-color: #732002; 
}

.info-section:nth-child(even) .info-content {
  background-color: #401201; 
}

.info-content {
  display: flex;
  align-items: center;
  margin-bottom: 2rem;
  padding: 20px; 
  border-radius: 10px;
  color: #fff;
}

.info-content img {
  max-width: 200px;
  margin-right: 20px;
}


.content-wrapper {
  background-color: #732002; 
  padding: 20px; 
  border-radius: 10px; 
  margin: 20px;
}
