/* Estilos para los botones */
.btn {
    padding: 8px 16px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 14px;
}

.btn-warning {
    background-color: #732002;
    color: #fff;
}

.btn-warning:hover {
    background-color: #99310b;
}

.btn-danger {
    background-color: #401201;
    color: #fff;
}

.btn-danger:hover {
    background-color: #72260a;
}

/* Estilos para los formularios en línea */
.addition {
    display: inline-block;
    margin-right: 5px;
}

.addition input {
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.add{
    background-color: #A66E29;
    padding: 8px 16px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 14px;
}

.add:hover{
    background-color: #913a1b;
}

.check{
    color: #fff;
}