body {
    background-color: #F2C166;
}

/* Variables de tipografía */
:root {
    --primary-font-names: "", "Brewery";
    --secondary-font-names: "", "PT Sans", sans-serif;
    --tertiary-font-names: "", "Main", "PT Sans", serif;
}

/* Main */
main{
    margin-top: 5em;
}



/* Barra de busqueda  */
.search-bar {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
    margin-top: 80px;
}

.search-bar form {
    display: flex;
    justify-content: center;
    align-items: center;
}

.search-bar form div {
    margin-right: 10px;
}

.search-bar form label {
    margin-right: 5px;
}

.search-bar form select {
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.search-bar form button {
    padding: 5px 10px;
    background-color: #A66E29;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.search-bar form button:hover {
    background-color: #732002;
}


/* Productos */
.productos {
    text-align: center;
    margin-bottom: 50px; 
}

.marca-products {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}


